@font-face{
    font-family: mine;
    src: url(Engravers.ttf);
}

.nyhead{
    font-family: mine;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    font-size: 5em;
}

#date{
    display: inline-block;
    position: absolute;
    margin-top: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    margin-left: 10px;
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-link{
    margin-right: 4em;
    font-size: 1.2em;
}

.container-news{
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
}

.card{
    padding-left: 1em;
    padding-top: 1em;
    padding: 1em;
}

.card-text1{
    font-weight: bold;
}

.card-title{
    text-transform: uppercase;
    font-size: 2em;
}

.img-fluid{
    height: 1em;
}

.wo{
    color: brown;
}

.continue-reading{
    text-decoration: none;
}